# exploring the whole transcriptome coverage depth data

**find the files created with extract_coverages.ipynb**

In [1]:
!find . -name "*-cov_dep.tsv.gz"

./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz
./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz
./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz
./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz
./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz
./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz

**let's check out the -a-v2 alignments**

In [2]:
paths_a = [
    './SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz',
    './SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz'
]

In [3]:
import pandas as pd

**test with the first 5000 rows for speed**
- enough rows to have more than 1 transcript.  So position column will start from 1
    - want to see if that's a problem when merging or not

In [82]:
test1=pd.read_table(paths_a[0],header = None, names = ['transc','position','cov_depth']).head(5000)
test1.tail()

       transc  position  cov_depth
4995  YAL002W      1513          4
4996  YAL002W      1514          4
4997  YAL002W      1515          4
4998  YAL002W      1516          5
4999  YAL002W      1517          5

In [19]:
test1.head(7)

    transc  position  cov_depth
0  YAL001C         1          0
1  YAL001C         2          0
2  YAL001C         3          0
3  YAL001C         4          0
4  YAL001C         5          0
5  YAL001C         6          1
6  YAL001C         7          2

In [83]:
test2=pd.read_table(paths_a[1],header = None, names = ['transc','position','cov_depth']).head(5000)
print(test2.tail(),'\n',test2.head())

       transc  position  cov_depth
4995  YAL002W      1513          2
4996  YAL002W      1514          1
4997  YAL002W      1515          2
4998  YAL002W      1516          2
4999  YAL002W      1517          2
     transc  position  cov_depth
0  YAL001C         1          1
1  YAL001C         2          3
2  YAL001C         3          6
3  YAL001C         4          6
4  YAL001C         5          6

In [88]:
test1[test1['position']==1]

       transc  position  cov_depth
0     YAL001C         1          0
3483  YAL002W         1          0

#### try merging

In [14]:
pd.concat([test1,test2],axis=1)

       transc  position  cov_depth   transc  position  cov_depth
0     YAL001C         1          0  YAL001C         1          1
1     YAL001C         2          0  YAL001C         2          3
2     YAL001C         3          0  YAL001C         3          6
3     YAL001C         4          0  YAL001C         4          6
4     YAL001C         5          0  YAL001C         5          6
5     YAL001C         6          1  YAL001C         6          6
6     YAL001C         7          2  YAL001C         7          7
7     YAL001C         8          2  YAL001C         8          7
8     YAL001C         9          2  YAL001C         9          7
9     YAL001C        10          2  YAL001C        10          7
10    YAL001C        11          2  YAL001C        11          7
11    YAL001C        12          2  YAL001C        12          7
12    YAL001C        13          2  YAL001C        13          7
13    YAL001C        14          2  YAL001C        14          7
14    YAL001C        15          2  YAL001C        15          7
15    YAL001C        16          2  YAL001C        16          7
16    YAL001C        17          2  YAL001C        17          7
17    YAL001C        18          2  YAL001C        18          7
18    YAL001C        19          2  YAL001C        19          7
19    YAL001C        20          3  YAL001C        20          7
20    YAL001C        21          3  YAL001C        21          7
21    YAL001C        22          4  YAL001C        22          7
22    YAL001C        23          4  YAL001C        23          7
23    YAL001C        24          4  YAL001C        24          7
24    YAL001C        25          4  YAL001C        25          7
25    YAL001C        26          5  YAL001C        26          7
26    YAL001C        27          5  YAL001C        27          7
27    YAL001C        28          5  YAL001C        28          7
28    YAL001C        29          6  YAL001C        29          7
29    YAL001C        30         10  YAL001C        30          6
...       ...       ...        ...      ...       ...        ...
4970  YAL002W      1488          1  YAL002W      1488          2
4971  YAL002W      1489          1  YAL002W      1489          2
4972  YAL002W      1490          1  YAL002W      1490          2
4973  YAL002W      1491          1  YAL002W      1491          2
4974  YAL002W      1492          1  YAL002W      1492          2
4975  YAL002W      1493          1  YAL002W      1493          2
4976  YAL002W      1494          1  YAL002W      1494          2
4977  YAL002W      1495          0  YAL002W      1495          2
4978  YAL002W      1496          0  YAL002W      1496          2
4979  YAL002W      1497          0  YAL002W      1497          2
4980  YAL002W      1498          0  YAL002W      1498          2
4981  YAL002W      1499          0  YAL002W      1499          2
4982  YAL002W      1500          0  YAL002W      1500          2
4983  YAL002W      1501          0  YAL002W      1501          2
4984  YAL002W      1502          0  YAL002W      1502          2
4985  YAL002W      1503          0  YAL002W      1503          2
4986  YAL002W      1504          0  YAL002W      1504          2
4987  YAL002W      1505          0  YAL002W      1505          2
4988  YAL002W      1506          1  YAL002W      1506          3
4989  YAL002W      1507          1  YAL002W      1507          3
4990  YAL002W      1508          1  YAL002W      1508          2
4991  YAL002W      1509          3  YAL002W      1509          2
4992  YAL002W      1510          3  YAL002W      1510          2
4993  YAL002W      1511          3  YAL002W      1511          2
4994  YAL002W      1512          4  YAL002W      1512          2
4995  YAL002W      1513          4  YAL002W      1513          2
4996  YAL002W      1514          4  YAL002W      1514          1
4997  YAL002W      1515          4  YAL002W      1515          2
4998  YAL002W      1516          5  YAL002W      1516          2
4999  YAL002W      1517          5  YAL002W      1517          2

[5000 rows x 6 columns]

In [12]:
pd.concat([test1,test2],axis=1)

In [84]:
testm=pd.merge(test1,test2,on=['transc','position'],how='outer',suffixes=('test1','test2'))

In [86]:
print(testm.tail(),'\n',testm.head())

       transc  position  cov_depthtest1  cov_depthtest2
4995  YAL002W      1513               4               2
4996  YAL002W      1514               4               1
4997  YAL002W      1515               4               2
4998  YAL002W      1516               5               2
4999  YAL002W      1517               5               2
     transc  position  cov_depthtest1  cov_depthtest2
0  YAL001C         1               0               1
1  YAL001C         2               0               3
2  YAL001C         3               0               6
3  YAL001C         4               0               6
4  YAL001C         5               0               6

In [87]:
testm[testm['position']==1]

       transc  position  cov_depthtest1  cov_depthtest2
0     YAL001C         1               0               1
3483  YAL002W         1               0               0

In [85]:
testm.isna().sum()

transc            0
position          0
cov_depthtest1    0
cov_depthtest2    0
dtype: int64

### Groupby correlation and formatting the table
want a table like this:

transcript | pearson coefficient
--- | ---
trancript A | 0.xx
trancript B | 0.xx

In [33]:
testm['cov_depthtest1'].corr(testm['cov_depthtest2'])

0.32529225506811155

In [44]:
testm.drop('position',axis=1).groupby('transc').corr()

                        cov_depthtest1  cov_depthtest2
transc
YAL001C cov_depthtest1        1.000000        0.340338
        cov_depthtest2        0.340338        1.000000
YAL002W cov_depthtest1        1.000000        0.234730
        cov_depthtest2        0.234730        1.000000

In [58]:
testm.groupby('transc')[['cov_depthtest1','cov_depthtest2']].corr()

                        cov_depthtest1  cov_depthtest2
transc
YAL001C cov_depthtest1        1.000000        0.340338
        cov_depthtest2        0.340338        1.000000
YAL002W cov_depthtest1        1.000000        0.234730
        cov_depthtest2        0.234730        1.000000

---

### lots of ways to do this

result: multi-index series

In [35]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2,-1]

transc
YAL001C  cov_depthtest1    0.340338
YAL002W  cov_depthtest1    0.234730
Name: cov_depthtest2, dtype: float64

In [50]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2]['cov_depthtest2']

transc
YAL001C  cov_depthtest1    0.340338
YAL002W  cov_depthtest1    0.234730
Name: cov_depthtest2, dtype: float64

In [49]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2]['cov_depthtest2'].index

MultiIndex(levels=[['YAL001C', 'YAL002W'], ['cov_depthtest1', 'cov_depthtest2']],
           labels=[[0, 1], [0, 0]],
           names=['transc', None])

result: multi-index dataframe

In [48]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2][['cov_depthtest2']]

                        cov_depthtest2
transc
YAL001C cov_depthtest1        0.340338
YAL002W cov_depthtest1        0.234730

In [51]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2][['cov_depthtest2']].index

MultiIndex(levels=[['YAL001C', 'YAL002W'], ['cov_depthtest1', 'cov_depthtest2']],
           labels=[[0, 1], [0, 0]],
           names=['transc', None])

**Drop multi-index**

In [55]:
testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2][['cov_depthtest2']].index.droplevel(1)

Index(['YAL001C', 'YAL002W'], dtype='object', name='transc')

In [99]:
test_corr_df = testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2,-1]
test_corr_df.index = test_corr_df.index.droplevel(1)
test_corr_df = test_corr_df.to_frame()
test_corr_df.columns = ['R (pearson correlation)']
test_corr_df['R squared'] = test_corr_df['R (pearson correlation)']**2
test_corr_df

         R (pearson correlation)  R squared
transc
YAL001C                 0.340338   0.115830
YAL002W                 0.234730   0.055098

In [63]:
test_corr_df = testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2][['cov_depthtest2']]
test_corr_df.index = test_corr_df.index.droplevel(1)
test_corr_df.columns = ['R (pearson correlation)']
test_corr_df['R squared'] = test_corr_df['R (pearson correlation)']**2
test_corr_df

         R (pearson correlation)  R squared
transc
YAL001C                 0.340338   0.115830
YAL002W                 0.234730   0.055098

## I should have it worked out now. On to the full data

---

### summary
```python
# import
test1=pd.read_table(paths_a[0],header = None, names = ['transc','position','cov_depth']).head(5000)
test2=pd.read_table(paths_a[1],header = None, names = ['transc','position','cov_depth']).head(5000)
# merge
testm=pd.merge(test1,test2,on=['transc','position'],how='outer',suffixes=('test1','test2'))
# check for nan's
testm.isna().sum()
if testm.isna().sum().any()!=0:
    raise Exception('NaNs in merged DataFrame')
# correlation and table construction
test_corr_df = testm.drop('position',axis=1).groupby('transc').corr().iloc[0::2,-1]
test_corr_df.index = test_corr_df.index.droplevel(1)
test_corr_df = test_corr_df.to_frame()
test_corr_df.columns = ['R (pearson correlation)']
test_corr_df['R squared'] = test_corr_df['R (pearson correlation)']**2
test_corr_df
```

### double check the NaN check

In [75]:
test1=pd.read_table(paths_a[0],header = None, names = ['transc','position','cov_depth']).head(5000)
test2=pd.read_table(paths_a[1],header = None, names = ['transc','position','cov_depth']).head(4999)

In [76]:
testm=pd.merge(test1,test2,on=['transc','position'],how='outer',suffixes=('test1','test2'))

In [77]:
testm.isna().sum()

transc            0
position          0
cov_depthtest1    0
cov_depthtest2    1
dtype: int64

In [78]:
if testm.isna().sum().any()!=0:
    raise Exception('NaNs in merged DataFrame')

Exception: NaNs in merged DataFrame

## functions
- function for import and merging
- something for getting column suffixes from filenames (could use a dictionary or a regex function)
    - I sort of already wrote a regex for this in `2-Developement/54-2018-07-28-k_mer_coverage_overlay_redo/`
- function for correlation table
- function for R and R^2 histogram

---

Note: I want to save the correlation tables in this current directory `./`

In [108]:
filekey = {
'./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz':'_SRR948553-bb-trim29-a-v2',
'./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz':'_SRR948553-bb-trim29-k1-v2',
'./SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz':'_SRR948553-bb-trim29-v2-m1',
'./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz':'_SRR948555-bb-trim29-a-v2',
'./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz':'_SRR948555-bb-trim29-k1-v2',
'./SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz':'_SRR948555-bb-trim29-v2-m1'
}

In [114]:
def read_and_merge(filename1,filename2):
    # import
    df1=pd.read_table(filename1,header = None, names = ['transc','position','cov_depth'])
    df2=pd.read_table(filename2,header = None, names = ['transc','position','cov_depth'])
    suff1 = filekey[filename1] # filekey needs to be global variable for this to work
    suff2 = filekey[filename2] # filekey needs to be global variable for this to work
    
    # merge
    dfm=pd.merge(df1,df2,on=['transc','position'],how='outer',suffixes=(suff1,suff2))
    
    # check for nan's
    if testm.isna().sum().any()!=0:
        raise Exception('NaNs in merged DataFrame')
    return (dfm, suff1, suff2)

In [117]:
def corr_table(tup):
    dfm, suff1, suff2 = tup
    df = dfm.drop('position',axis=1).groupby('transc').corr().iloc[0::2,-1]
    df.index = df.index.droplevel(1)
    df = df.to_frame()
    df.columns = ['R (pearson correlation)']
    df['R squared'] = df['R (pearson correlation)']**2
    df.to_csv('{}_vs{}_correlation_table.csv'.format(suff1.replace('_',''),suff2))

## -a -v 2

In [118]:
# replicate SRR948553 alignment with -a
R553_a = './SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz'
# replicate SRR948555 alignment with -a
R555_a = './SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-a-v2-p4-cov_dep.tsv.gz'

corr_table(read_and_merge(R553_a,R555_a))

In [119]:
!ls -l

total 688
drwxr-xr-x   9 Jackson  staff     306 Jun 28 19:38 29-mers-orf_coding-FILTERED1-alignment--norc-a-v2-p4
drwxr-xr-x   9 Jackson  staff     306 Jun 28 19:39 29-mers-orf_coding-FILTERED1-alignment--norc-k1-v2-p4
drwxr-xr-x  13 Jackson  staff     442 Jun 28 19:34 29-mers-orf_coding-FILTERED1-alignment--norc-v2-p4-m1
-rw-r--r--   1 Jackson  staff  265544 Jul 27 16:43 SRR948553-bb-trim29-a-v2_vs_SRR948555-bb-trim29-a-v2_correlation_table.csv
drwxr-xr-x  10 Jackson  staff     340 Jul 26 16:28 SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4
drwxr-xr-x  10 Jackson  staff     340 Jul 26 16:39 SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4
drwxr-xr-x  14 Jackson  staff     476 Jul 26 16:40 SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1
drwxr-xr-x  10 Jackson  staff     340 Jul 26 16:41 SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-a-v2-p4
drwxr-xr-x  10 Jackson  staff     340 Jul 26 16:43 SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4
drwxr-xr-x  14 Jackson  staff     476 Jul 26 16:44 SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1
-rw-r--r--   1 Jackson  staff   61235 Jul 27 16:41 Untitled.ipynb
-rw-r--r--   1 Jackson  staff     842 Jul 26 15:57 bam_files.txt
-rw-r--r--   1 Jackson  staff     866 Jul 26 16:50 coverage_filepaths.txt
-rw-r--r--   1 Jackson  staff    8702 Jul 27 13:02 driver.ipynb
-rw-r--r--   1 Jackson  staff    1502 Jul 27 14:48 readme.md

## -m 1 -v 2

In [120]:
# replicate SRR948553 alignment with -m 1
R553_m1 = './SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz'
# replicate SRR948555 alignment with -m 1
R555_m1 = './SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-v2-p4-m1/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-v2-p4-m1-cov_dep.tsv.gz'

corr_table(read_and_merge(R553_m1,R555_m1))

## -k 1 -v 2

In [121]:
# replicate SRR948553 alignment with -a
R553_k1 = './SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948553_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz'
# replicate SRR948555 alignment with -a
R555_k1 = './SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29-alignment--norc-k1-v2-p4/SRR948555_BBduk2_NEBtrim-rRNA-bbmap_trim_29--norc-k1-v2-p4-cov_dep.tsv.gz'

corr_table(read_and_merge(R553_k1,R555_k1))

In [ ]:
Q0055

In [122]:
df1=pd.read_table(R553_a,header = None, names = ['transc','position','cov_depth'])

In [124]:
df1[df1['transc']=='Q0055'].describe()

          position  cov_depth
count  2565.000000     2565.0
mean   1283.000000        0.0
std     740.596044        0.0
min       1.000000        0.0
25%     642.000000        0.0
50%    1283.000000        0.0
75%    1924.000000        0.0
max    2565.000000        0.0

In [131]:
df2 = df1[df1['transc']=='Q0055'].copy()

In [132]:
df2['cov_depth2'] = df2['cov_depth']

In [134]:
df2[['cov_depth','cov_depth2']].corr()

            cov_depth  cov_depth2
cov_depth         NaN         NaN
cov_depth2        NaN         NaN